PSQL_HOST=localhost 
PSQL_PORT=5432 
PSQL_USER=postgres 
PSQL_PASS=postgres 
DBNAME=url_shortener 
SSLMODEL=disable
RABBITMQ="amqp://guest:guest@localhost:5672/"

SERVICE_NAME="redirect"
SERVICE_VERSION=
TELEMETRY_ENABLED=true

OTEL_EXPORTER_OTLP_ENDPOINT="localhost:4317"
